@{
    ViewData["Title"] = "О нас";
}

<h1 class="h1-page">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 text-p-1">
        Юридические технологии является объединением юристов. Наша команда оказывает
        юридические услуги в соответствии с текущими требованиями. При оказании помощи мы
        действуем оперативно и широко используем современные технологии. Сочетание этих
        двух принципов позволяет нашим клиентам быстро получать результат. Еще одним
        обязательным правилом нашей команды является постоянная коммуникация с нашими
        клиентами. Наши специалисты всегда находятся на связи. Одним из основных правил
        нашей команды является работа на предупреждение проблем наших клиентов: при
        своевременном обращении мы помогаем нашим доверителям избегать существенных
        издержек. В ходе консультации наши специалисты, руководствуясь действующим
        законодательством и сложившейся судебной практикой, дают реальную оценку ситуации.
        Такой подход позволяет нашим клиентам не только понять, какие шаги следует
        предпринять, но, прежде всего, принять решение о целесообразности своих действий для
        достижения желаемого результата.
    </div> 
</div>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
        },
        mounted() {
            loader.hide();
            //loader_hide();
        },
    });
    </script>
}
