@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
        },
        mounted() {
            loader.hide();
            //loader_hide();
        },
    });
    </script>
}
