@{
    ViewData["Title"] = "Связаться с нами";
}

<h1>Связаться с нами</h1>

<button type="button" class="btn btn-primary" @@click="click_alert_1" >This is an alert dialog.</button>

<button type="button" class="btn btn-secondary" @@click="click_alert_2">This is a confirm dialog.</button>

<button type="button" class="btn btn-success" @@click="click_alert_3">Success message</button>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
            click_alert_1() {
                alertify
                  .alert("This is an alert dialog.", function(){
                    alertify.message('OK');
                  });
            },
            click_alert_2() {
                alertify.confirm("This is a confirm dialog.",
                  function(){
                    alertify.success('Ok');
                  },
                  function(){
                    alertify.error('Cancel');
                  });
            },
            click_alert_3() {
                alertify.success('Success message 123');
            },
        },
        mounted() {
            loader.hide();
        },
    });
    </script>
}