@{
    ViewData["Title"] = "Связаться с нами";
}

<h1>Связаться с нами</h1>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
        },
        mounted() {
            loader.hide();
        },
    });
    </script>
}