@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="col-md-12 col-lg-7">
        <div class="text-2 text-2-size mt-5">Бесплатная</div>
        <div class="text-2 text-2-size">юридическая</div>
        <div class="text-2 text-2-size" style="margin-bottom:24px">помощь</div>
        <div class="text-3">Гений, как следует из вышесказанного, творит катарсис.</div>
        <div class="text-3">Катарсис творит дедуктивный метод.</div>
        <a class="btn-main-page cursor-link"><span class="text-btn">подробнее</span><i class="bi bi-arrow-right text-btn"></i></a>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="block-img-1">
            <img src="~/i/lady_1.png" class="img-1 position-z-100" alt="Фемида. Богиня правосудия." />
        </div>
        
    </div>
</div>
<div>
    <div class="row mt-5">
        <div class="col-md-12 col-lg-7 background-grey">
            <div class="row mt-5">
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-10">
                    <div class="text-4 text-4-size">О компании</div>
                    <div class="text-5" style="margin-top:1rem">Герменевтика, как следует из вышесказанного, ментально транспонирует субъективный позитивизм.</div>
                    <div class="text-6" style="margin-top:0.5rem">Ощущение мира категорически оспособляет непредвиденный катарсис. Априори, заблуждение принимает во внимание данный бабувизм, открывая новые горизонты. Бабувизм естественно дискредитирует непредвиденный здравый смысл, ломая рамки привычных представлений. Гений амбивалентно подрывает данный бабувизм, учитывая опасность, которую представляли собой писания Дюринга.</div>
                    <a class="btn-main-page-2 mt-3 cursor-link" style="margin-bottom:5rem"><span class="text-btn-2" style="margin-right:0.2rem">узнать больше</span><i class="bi bi-arrow-right text-btn-2"></i></a>
                </div>
                <div class="col-md-12 col-lg-1"></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-5 background-black-grey">
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
        },
        mounted() {
            loader.hide();
            //loader_hide();
        },
    });
    </script>
}
