@{
    ViewData["Title"] = "Примирение";
}

<h1 class="h1-page">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 text-p-1">
        В ходе первичной консультации специалисты юридических технологий производят
        оценку перспектив спора. Основными принципами нашего объединения является
        скорейшее достижение приемлемого для клиента результата при минимальных
        материальных издержках. Одним из способов достижения цели клиента является
        процедура примирения. Обращение в суд с исковым заявлением отнимает значительное
        время в связи с существенной загруженностью российских судов. Следует отметить, что не
        всегда решение суда может удовлетворить сторону. Но даже если суд вынес
        положительное решение, то перед стороной встает проблема исполнения этого решения.
        Альтернативой являются примирительные процедуры, когда стороны путем переговоров
        достигают взаимно позитивного результата. Исходя из запроса клиента и его интересов,
        специалисты юридических технологий проводят анализ с целью определения
        возможности скорейшего урегулирования спора на приемлемых для клиента условиях.
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        Способствование скорейшему разрешению конфликта, урегулированию спора без
        обращения в суд, при условии достижения приемлемого результата, является не только
        лучшим для клиента вариантом, но и базовым принципом юридической профессии.
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
            el: vueDefaultId,
            data: {
            },
            methods: {
            },
            mounted() {
                loader.hide();
                //loader_hide();
            },
        });
    </script>
}