@{
    ViewData["Title"] = "Юридическая помощь";
}

<h1 class="h1-page">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 text-p-1">
        Основной задачей юридических технологий является своевременное оказание
        юридической помощи. Важнейшим принципом нашей деятельности является
        профилактика наступления неблагоприятных последствий для наших клиентов. Мы всегда
        рекомендуем обращаться за помощью сразу после выявления проблем. Большинство
        ситуаций, при которых необходимо оказание юридической помощи, могут быть
        разрешены с минимальными издержками при своевременном обращении. Обращение
        за правовой помощью не всегда означает
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        <strong>Защита по уголовным делам</strong>
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        Юридические технологии оказывают помощь по уголовным делам.
        В случае если вас или ваших близких побеспокоили из правоохранительных органов вам
        необходимо получить консультацию адвоката, специализирующегося на защите по
        уголовным делам. После консультации у вас будет представление о том насколько
        ситуация опасна для вас, какие действия вам следует предпринять и как вести себя в
        общении с представителями правоохранительных органов.
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        <strong>Оказание помощи по спорам о защите прав потребителей</strong>
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        Юридические технологии оказывают помощь и представляют интересы клиентов
        по делам о защите прав потребителей. Закон Российской Федерации «О защите прав
        потребителей» обеспечивает гарантии прав потребителей. Для четкого понимания как
        себя вести в ситуации, когда возник спор, требуется произвести оценку ситуации
        специалистом. Юридические технологии обладают значительным опытом в сфере защиты
        прав потребителей.
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        <strong>Оказание помощи по семейным спорам.</strong>
    </div>
    <div class="col-md-12 col-lg-12 text-p-1">
        Семейные взаимоотношения одна из самых деликатных сфер. В настоящей
        категории споров существует огромное количество возможностей быстро достичь
        желаемого результата без обращения в суд. Специалисты юридических технологий
        обладают практическими компетенциями в сфере урегулирования семейных споров. При
        необходимости мы представляем наших клиентов в судебных разбирательствах по
        семейным делам.
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var lawyerApp = new Vue({
        el: vueDefaultId,
        data: {
        },
        methods: {
        },
        mounted() {
            loader.hide();
            //loader_hide();
        },
    });
    </script>
}
