

/* #region Media*/
@media (max-width: 575px) {
    .lawyer-hidden-1200 {
        display: none;
    }
    .body-content {
        margin-top: 1rem;
    }
    .text-2-size {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .block-img-1 {
        max-width: 100%;
        min-width: 300px;
        height: auto;
        margin-top:3rem;
    }
    .img-1 {
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }
    .margin-footer-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .margin-footer-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .text-7-margin {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
@media (min-width: 576px) {
    header {
        max-width: 540px;
    }
    .fixed-nav {
        position: fixed;
        width: 100%;
        max-width: 540px;
        top: 0;
    }
    .lawyer-hidden-1200 {
        display: none;
    }
    .body-content {
        margin-top: 9rem;
    }
    .text-2-size {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .text-7-margin {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
@media (min-width: 768px) {
    header {
        max-width: 720px;
    }
    .fixed-nav {
        position: fixed;
        width: 100%;
        max-width: 720px;
        top: 0;
    }
    .body-content {
        margin-top: 9rem;
    }
    .text-2-size {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .lawyer-hidden-1200 {
        display: none;
    }    
}
@media (min-width: 992px) {
    header {
        max-width: 960px;
    }
    .fixed-nav {
        position: fixed;
        width: 100%;
        max-width: 960px;
        top: 0;
    }
    .body-content {
        margin-top: 9rem;
    }

    .text-2-size {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .lawyer-hidden-1200{
        display:none;
    }
    .block-img-1 {
        width: 596px;
        height: 500px;
    }
    .img-1 {
        position: absolute;
        margin-left: -160px;
        margin-top: 0px;
    }
    .margin-footer-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 2rem;
        float: left;
    }
    .margin-footer-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 2rem;
        float: right;
    }
    .text-7-margin {
        margin-top: 121px;
        margin-left: 1rem;
    }
    .ellipse-2 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ECDFC6;
        position: absolute;
        margin-top: 30px;
        margin-left: 1rem;
    }

}
@media (min-width: 1200px) {    
    header {
        max-width: 1140px;
    }
    .fixed-nav {
        position: fixed;
        width: 100%;
        max-width: 1140px;
        top: 0;
    }
    .body-content {
        margin-top: 9rem;
    }

    .text-2-size {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .lawyer-hidden-1200 {
        display: block;
    }
}
@media (min-width: 1400px) {
    .body-content {
        margin-top: 156px;
    }
    header {
        max-width: 1320px;
    }
    .fixed-nav {
        position: fixed;
        width: 100%;
        max-width: 1320px;
        top: 0;
    }
    .text-2-size {
        font-size: 96px;
        line-height: 71px;
    }
    .lawyer-hidden-1200 {
        display: block;
    }
}

/*#endregion Media*/

.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    text-align: center;
    background-color: white;
    background-color: rgba(0,0,0,.8);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5%;
    padding: 25% 0 0 0;
}

.my-loader {
    font-size: 1.5rem;
    color: white;
}

/*#region Header*/
header {
    margin-right: auto;
    margin-left: auto;
}
.position-z-999{
    z-index:999;
}
.lawyer_navbar {
    flex-wrap: wrap;
    background-color: rgb(255 255 255);
    width: 100%;
    border-bottom: 1px solid #DCD6C2;
}
.margin-top-nav {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #DCD6C2;
}
.text-1 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 21.19px;
    line-height: 26px;
    text-transform: uppercase;
    color: #745E33;
    transition: 1s;
    width: 163px;
    height: 53px;
    text-decoration: none;
}
.text-1:hover {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 21.19px;
    line-height: 26px;
    text-transform: uppercase;
    color: #44310c;
    transition: 1s;
    width: 163px;
    height: 53px;
    text-decoration: none;
}
.nav-link {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
#navbar-lawyer{
    margin-left:2rem;
}
.margin-nav {
    margin-top: 15px;
    margin-bottom: 15px
}
.nav-phone {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration:none;
}
.tel-icon {
    font-size: 0.85rem;
    color: #A98B51;
}
/*#endregion Header*/
/*#region Body*/

.text-2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;    
    color: #344150;
}
.text-3 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.btn-main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 28px;
    gap: 10px;
    width: 176px;
    height: 49px;
    left: 0px;
    top: 393px;
    background: #A98B51;
    border-radius: 32px;
    text-decoration: none;
    margin-top: 48px;
    transition: 0.5s;
}
.btn-main-page:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 28px;
    gap: 10px;
    width: 176px;
    height: 49px;
    left: 0px;
    top: 393px;
    background: #664402;
    border-radius: 32px;
    text-decoration: none;
    margin-top: 48px;
    transition: 0.5s;
}
.text-btn {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-main-page-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 28px;
    gap: 10px;
    width: 191px;
    height: 47px;
    left: 0px;
    top: 336px;
    border: 1px solid #A98B51;
    border-radius: 32px;
    text-decoration: none;
    transition: 0.5s;
}
.btn-main-page-2:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 28px;
    gap: 10px;
    width: 191px;
    height: 47px;
    left: 0px;
    top: 336px;
    border: 1px solid #A98B51;
    border-radius: 32px;
    text-decoration: none;
    background-color:#e7e7e7;
    transition: 0.5s;
}
.text-btn-2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #A98B51;
}
.background-grey {
    background: #F3F3F3;
}
.text-4 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #344150;
}
.text-5 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.text-6 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align:justify;
}
.background-black-grey {
    background: #344150;
}
.position-z-100 {
    z-index: 100;
}
.cursor-link{
    cursor:pointer;
}
.text-7 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #ECDFC6;
}

.text-8 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.text-8-margin {
    margin-top: 1rem;
    margin-left: 1rem;
}
.text-9 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-decoration:none;
}
.text-9-margin {
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.text-10 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-decoration-line: underline;
    color: #8696A9;
}
.text-10-margin {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.text-p-1 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align: justify;
    text-indent: 1.5em;
}
.h1-page {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    color: #344150;
}
/*#endregion Body*/
/*#region Figures*/

/*#endregion Figures*/
.ellipse-1 {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #8696A9;
    position: absolute;
    margin-top: -100px;
    margin-left: 290px;
}
.block-ellipse-rb {
    background: radial-gradient(circle at 92% 84%, rgba(69, 82, 98, 1) 135px, #344150 0px);
}

/*#region Footer*/
.text-footer {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #757575;
}


/*#endregion Footer*/
