<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lawyer - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/alertify.min.css" />
    <link rel="stylesheet" href="~/css/alertify_themes/default.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>

    <!--Глобальная секция для Vue-->
    <div id="globalSection" class="fon-main">
        
        <!--Header-->
        <header>
            <div class="fixed-nav">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm lawyer_navbar" style="padding-bottom:0">
                    <div class="margin-top-nav"></div>
                    <div class="container-fluid margin-nav">
                        <a class="text-1" asp-area="" asp-controller="Home" asp-action="Index">
                            Юридические технологии
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-lawyer" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse " id="navbar-lawyer">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/About">О нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Бесплатная юридическая помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Примирение</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Service">Юридическая помощь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Connect">Контакты</a>
                                </li>
                                <li class="nav-item" style="margin-left:auto">
                                    <div class="nav-link">
                                        <span class="icon-phone"></span>
                                        <a class="nav-phone" href="tel:+79213892866">+7 (921) 389-28-66</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>            
        </header>
        
        <div class="container body-content">
            @RenderBody()
            <div class="line-hr">
                <hr />
            </div>            
            <footer class="text-center">
                <span>
                    <a href="/" target="_blank">B.A.S.E</a> &copy; @DateTime.Now.Year v.1.0
                </span>
            </footer>
        </div>

    </div>

    <div id="loader" class="loader">
        <img alt="" src="~/i/loader.svg" width="100" />
        <h1 class="my-loader">Пожалуйста, подождите, идет загрузка</h1>
    </div>

    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/vue.min.js"></script>
    <script type="text/javascript" src="~/js/axios.min.js"></script>
    <script type="text/javascript" src="~/js/alertify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
